<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Autor</title>
		<link rel ='stylesheet' href = '/stylesheets/style.css'/>
</head>
<body>
	<h2> Autor del proyecto Quiz 2016</h2>
	<div>
		<p>Antonio Martín García</p>
		<img src="http://cdn.playbuzz.com/cdn/d0b128e9-841e-4a54-928c-094123202f85/cd0e575c-440c-45ea-bce8-5950ff1574a5.png">
		</div>
</body>
</html>